
body{
    margin: 0;
    background-color:lightgray
}
.heading{
    background-color:  black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    height: 50px;
    position: sticky;
    top: 0px;

}

#test_ride{
    position: absolute; 
    top: 20px;
    right: 100px;
}

#test_ride button{
    background-color: #d1291c;
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding: 10px;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#test_ride button:hover {
    background-color: red;
}

.title{
    width: 600px;
    font-size: 50px;
    margin-left: 500px;
}
.logo {
    image-resolution: from-image;
    width:200px;
    position: absolute;
    top: 20px;
}

.bike_logo img{
    image-resolution: from-image;
    width:50px;
    position: absolute; 
    top: 14px;
    right: 450px;
}

.image #wall{
    image-resolution: from-image;
    width:900px;
    height:550px;
    margin-top: 10px;
    margin-left: 350px;
}

.main p{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table{
    border: solid;
    margin-left: 600px;
    border-spacing: 0px;
    border-style: hidden;
}

td img{
    width:30px;
    height:30px;
}

.main td{
    font-style: oblique;
    font-size: 20px;
    table-layout: auto;
    width: 100px;
    text-align: center;
    border-width:1px;
    border-style: solid;
}

p{
    margin: 15px;
    padding: 20px;
}

p a {
    text-decoration: none;
}


form button{
    color: #000;
}

.footer{
    background-color: black;
    color: white;
    padding: 50px;
    position: relative;
    top: 0px;
}

.footer .content{
    margin-left: 1305px;
    list-style-type: none;
}

.socialmedia_logo #fb{
    image-resolution: from-image;
    width:30px;
    padding: 10px;
    position: absolute; 
    bottom: 0px;
    right: 225px;
}

.socialmedia_logo #insta{
    image-resolution: from-image;
    width:30px;
    padding: 10px;
    position: absolute; 
    bottom: 0px;
    right: 175px;
}

.socialmedia_logo #twitter{
    image-resolution: from-image;
    width:30px;
    padding: 10px;
    position: absolute; 
    bottom: 0px;
    right: 125px;
}